{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block body %}

	{% for message in app.flashes('notice')    %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper li {
			display: flex;
			align-items: center;
			gap: 1rem;
		}
		.example-wrapper span {
			font-size: 36px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! 💩</h1>

		This friendly message is coming from:
		<ul>
			<li>
				<strong>Sacha
				</strong>
				le plus beau bébé du monde
				<span>❤️</span>
			</li>
			<li>
				<strong>Chamallow
				</strong>
				miaou miaou diabolique
				<span>😻</span>
			</li>
		</ul>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Content</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<th scope="row">{{ data.id }}</th>
						<td>{{ data.title }}</td>
						<td>{{ data.content }}</td>
						<td>
							<a href="{{ path('app_update', {'id': data.id}) }}" class="btn btn-warning">Modifier</a>
							<a href="{{ path('app_delete', {'id': data.id}) }}" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>
{% endblock %}
